.hero {
    position: relative;
    text-align: center;
    color:cadetblue;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  
}