:root {
    --primary-bg: #36454f;
    --primary-text: #fff;
    --hover-text: yellow;
    --header-bg: #bbb;
}

header {
    background-color: var(--header-bg);
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

nav {
    background-color: var(--primary-bg);
}

nav a {
    color: var(--primary-text);
}

.active {
    color: var(--hover-text)
}

body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.album {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}

figure {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5x rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    padding: 10px;
    font-size: 1rem;
    background: #f8f8f8;
    border-top: 1px solid #ddd;
}

figure:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* mobile ********************************/
header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    margin: 0;
}

main {
    max-width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}


nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

@media (min-width: 768px) {
    main {
        max-width: 80%;
    }

    .album {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
     .album {
        grid-template-columns: 1fr;

     }